@import "variables";
@import "paterns";
@import "reset";

main {
  padding: 4rem;
  width: 100%;
  max-width: 144rem;
  display: flex;
  gap: 8rem;

  background-color: $light-blue-100;
  .logo {
    width: 120px;
    height: 48px;
    display: flex;
    justify-content: center;
  }
  .input {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 68.8rem;
    .entrada {
      width: 100%;
      height: 68.3rem;
      margin-top: 12.8rem;

      font-size: 3.2rem;
      line-height: 4.8rem;
      background-color: transparent;
      color: $dark-blue-300;

      outline: none;
      resize: none;
      &::placeholder {
        color: $dark-blue-300;
      }
    }
    .footer {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      .info {
        display: flex;
        gap: 0.8rem;
        img {
          width: 1.6rem;
          height: 1.6rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.8rem;
          color: $gray-400;
        }
      }
      .buttons {
        width: 100%;
        max-width: 70.4rem;
        height: 6.7rem;
        display: flex;
        gap: 2.4rem;
        .btn-cripto {
          @include btn-cripto(
            100%,
            100%,
            #ffffff,
            $dark-blue-300,
            $dark-blue-400
          );
        }
        .btn-descripto {
          @include btn-cripto(100%, 100%, $dark-blue-300, none, #d8dfe8);
        }
      }
    }
  }
  .output {
    width: 100%;
    max-width: 40rem;
    padding: 3.2rem;

    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px #00000014;
    background-color: #ffffff;
    .saida {
      width: 100%;
      height: 781px;
      margin-bottom: 3.2rem;

      font-size: 24px;
      line-height: 36px;
      text-align: left;
      color: $gray-400;
      word-wrap: break-word;
    }
    .vazia {
      height: 88rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .sem-mensagem {
        padding-top: 3.2rem;
        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 28.8px;
          text-align: center;
          color: $gray-500;
        }
        p {
          padding-top: 1.6rem;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          color: $gray-400;
        }
      }
    }
  }
  @include responsive(950px) {
    flex-direction: column;
    align-items: center;
    gap: 0;
    .logo {
      max-width: 3.2rem;
      align-self: baseline;
    }
    .input {
      .entrada {
        margin-top: 11.6rem;
        height: 54.8rem;
      }
    }
    .output {
      max-width: 68.8rem;
      margin-top: 6.4rem;
      padding: 3.2rem;
      img {
        display: none;
      }
      .vazia {
        height: 6.9rem;
        margin-top: 0;
        .sem-mensagem {
          padding-top: 0;
        }
      }
      .saida {
        max-height: 18rem;
      }
    }
  }
  @include responsive(450px) {
    padding: 1.6rem;
    .logo {
      width: 375px;
      height: 96px;
    }
    .input {
      align-items: center;
      .entrada {
        max-height: 30rem;
        margin-top: 5.6rem;
      }
      .footer {
        width: 100%;
        max-width: 343px;
        display: flex;
        .info {
          align-self: baseline;
        }
        .buttons {
          flex-direction: column;
          height: 158px;
          .btn-cripto {
            @include btn-cripto(
              100%,
              100%,
              #ffffff,
              $dark-blue-300,
              $dark-blue-400
            );
          }
          .btn-descripto {
            @include btn-cripto(100%, 100%, $dark-blue-300, none, #d8dfe8);
          }
        }
      }
    }
    .output {
      width: 327px;
      height: 186px;
      padding: 3.2rem;

      display: flex;
      align-items: center;
    }
  }
}
